body {
    font-family: 'arial', sans-serif;
    background-color: #b6ffbc; 
    color: #56290a; 
    line-height: 1.6;
    text-align: center; 
ul   {
    text-align: left;

}
h3   {
    text-align: left;

}
h6   {
    text-align: left;
    font-size: 10;
}
