body {
    font-family: 'Playfair Display', serif;
    background-color: #f0dff7; 
    color: #4b2b62; 
    line-height: 1.6; 
    text-align: center;
}
h1 {
     text-align: center;
     color: #4b2b62(81, 62, 49);
     font-style: italic;
}
p {
    text-align: center;
     color:#4b2b62 (81, 62, 49);  
}