body {
    font-family: 'Garamond', sans-serif;
    background-color: #a6f1f4; 
    color: #333; 
    line-height: 1.6; 
}

h1 { 
    color:blue;
    text-align: center;
    font-size: 40px;
    text-shadow: 4px 4px 0px rgb(30, 236, 143); 
}

h2 {
    color: rgb(45, 11, 168);
    text-align: center;
    font-size: 20px;
}

h3 {
    color:black; 
    text-align: center;
    font-size: 25px;
}
a {
    color: rgb(45, 11, 168);
}


li{
    font-size: 25px;
}