body {
    font-family: Georgia, 'Times New Roman';
    background-color: #fff0fe; 
    color: #333; 
    line-height: 1.6; 
}
h1{
    text-align: center;
    font-size: 50px;
}

.container {
    display: flex;
    gap: 20px;
    color: black;
}



.box {
    background-color: rgb(253, 178, 247);
    padding: 15px;
    max-width: 33%;
    border-radius: 7px;
}

.box1 {
    background-color: rgb(253, 178, 247);
    padding: 15px;
    max-width: 34%;
    border-radius: 7px;
}

img{
    float:right;
    padding-right: 25px;
}

h4{
    text-align: center;
}