body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(71, 114, 255); 
    color: #333; 
    line-height: 1.6; 
}
h1 {
  font-size: 32px;
  color: black;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}

h2 {
  font-size: 32px;
  color: black;
  text-align: center;
}

body {
  font-size: 16px;
  color: black;
  text-align: left;
}