body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #ffde38; 
    color: #7b159e; 
    line-height: 2; 
}

h1 {
    font-size: 50px;
    color: #7b159e;
    text-align: center;
    margin: 0;
}



