body {
    background-color: #abd8e4; 
    font-family: "Comic Sans MS", cursive; 
    text-align: center;
}

h1 {
    color: #16809c; 
    text-align: center;
    font-size: 34px;
    text-shadow: 3px 2px 0px #bc4dd8; 
    animation: blink 5s infinite;

}



