body {
    font-family: 'Courier New', sans-serif;
    background-color: #5161c7; 
    color: #ffffff; 
    line-height: 1.6; 
    text-align: left;
}

h1   {
    font-family: 'monospace', sans-serif;
    font-size:x-large;
    text-align: center;


}

