body {
    font-family: 'Arial', sans-serif;
    background-color: #569bd8; 
    color: #333; 
    line-height: 1.6; 
    
}p {
  font-size: 16px;
  color: rgb(224, 53, 53);
  text-align: center;
}    <link rel="stylesheet" href="styles.css">
    <a href=template.html><p>Traveling</p></a >
