body {
    background-color: lightcyan; 
    color:ghostwhite; 
    font-family: "Comic Sans MS", cursive;
    margin: 0;
    padding: 5px;
}
h1 {
     font-size: 70px;
    color:lightpink; 
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 3px;
}

h2 {
    font-size: 30px; 
    color: lightcoral; 
    text-decoration: palevioletred;
    margin: 5px 0;
}

body{
    font-size: 20px; 
    color: lightcoral; 
    text-decoration: ;
    margin: 5px 0; 
}

