body {
    font-family: 'Arial',  Verdana, Geneva, Tahoma;
    background-color: #bbddfc; 
    color: #333; 
    line-height: 1.6; 
}

h2 {
    font-family: 'Arial', Verdana, Geneva, Tahoma;
    background-color: #bbddfc; 
    color: #333; 
    line-height: 1.6; 
}
h1 {
    font-size: 54px;
    font-family: 'Arial', Verdana, Geneva, Tahoma;
    color: light #2828a0; 
    line-height: 0.5 ;
}
head {
    font-family: 'Arial',  Verdana, Geneva, Tahoma;
    background-color: #9fcff8; 
    color: #ac1f1f; 
    line-height: 1.6;
}
img{
    background-color: #bbddfc; 
    width: 390px;
}

