body {
    font-family: 'Arial', sans-serif;
    background-color: #f0ecec; 
    color: #333; 
    line-height: 1.6; 
}
img {background-attachment: scroll;
  background-position: center;}
a{color:blue;}

p {
  line-height: 1;


}
h1{
color:rgb(23, 23, 181);
border: 1px solid ;
padding:0px;
}