body {
    font-family: 'Arial', sans-serif;
    background-color: #000000; 
    color: #ffffff; 
    line-height: 1.6; 
}

h1 {
    color: #0026ff;
    text-align: center;
    font-size: 48px;
    text-shadow: 3px 3px 0px #ff0000;
    animation: blink 1s infinite; 
} 

h2 {
color: #4b3f3f;
    text-align: center;
    font-size: 30px;
text-shadow: 3px 3px 0px #ffffff;(0, 0, 0)

}

h3 {
    color: #fffffffc; /* Purple - so sophisticated! */
    background-color: #000000; /* Yellow background */
    padding: 10px;
    border: 5px solid #ff0000;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.2;
    background-color: rgba(245, 245, 245, 0);
    
}

ul {
    background-color: rgb(255, 0, 0);
    padding: 10px;
    border: 2px dashed #000000;
    margin: 15px 0;
}

l {
    background-color: rgb(0, 255, 238);
}
