body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #f8d7f8; 
    color: #fa998e; 
    line-height: 1.2; 
}

h1 {
    color: #c36ec3; 
    text-align: center;
    font-size: 48px;
    text-shadow: 3px 3px 0px #ffe6e3; 
}

p {
    font-size: 18px;
    line-height: 1.2;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    
}

ul {
    background-color: #ffe4e1; 
    border: 2px solid #de7bde;
    padding: 20px;
}

li {
    color: #de7bde;
    font-weight: bold;
}

a {
    color: #ff8e65; 
    font-size: 18px
    background-color:#ffcdbb;
    padding: 10px;
    border: 3px solid #fdcfcf;
    display: inline-block;
    margin: 10px 0;