body {
    font-family: 'Arial', sans-serif;
    background-color: burlywood;
    color: white; 
    line-height: 1.6; 
}
h1 {text-align: center;
color:azure;
font-size: 40px;
font-family: 'Lexend', Georgia;
}
p { color:chocolate(255, 68, 0);
font-size: 20px;
font-family: 'Lexend', Courier New;
}

ul { color: white;
fontsize: 18px;
font-family: 'Brush Script MT', cursive;
}
