body {
    font-family: 'cursive', sans-serif;
    background-color: #f0f8ff; 
    color: #333; 
    line-height: 1.4;
} 
h1{ color: #2f2e2e;
    text-align: center;
    font-size: 48px;
    text-shadow: 3px 3px 0px hsl(240, 21%, 82%);
    font-family: 'Times New Roman', Times, serif;
}

h2{color: #5c5959;
    text-align: center;
    font-size: 28px;
    text-shadow: 3px 3px 0px #bcb8b8;
    font-family: 'Times New Roman', Times, serif;
    }

h3{color: #5c5959;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    }

h4{color: #5c5959;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    }

h6{color: #5c5959;
    text-align: center;
    text-shadow: 3px 3px 0px hsl(240, 21%, 82%);
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;}


h7{color: #151414;
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;}