body {
    font-family: 'times', sans-serif;
    background-color: rgb(0, 255, 238); 
    color: #000000; 
    line-height: 1.6; 
}
h1 {
    color: #ff0000;
    text-shadow: yellow 2px 2px 0px;
}
img {
    width: 200px;
}
















